<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

    <key>Label</key>
    <string>com.watched.ssd</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Users/ashutosh/The_Great_Eye/venv/bin/python3</string>
        <string>/Users/ashutosh/The_Great_Eye/main.py</string>
    </array>

    <key>RunAtLoad</key>
      <true/>
    
    <key>WorkingDirectory</key>
    <string>/Users/ashutosh/The_Great_Eye</string>

    <key>WatchPaths</key>
    <array>
        <string>/Volumes</string>
    </array>

    <key>StandardOutPath</key>
    <string>/Users/ashutosh/The_Great_Eye/out.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/ashutosh/The_Great_Eye/err.log</string>

</dict>
</plist>
